.button {
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.button.type1 {
  padding: 0.7rem 1.5rem;
}
.button.type2 {
  padding: 1rem 0;
}
.button.type3 {
  color: #202327;
  background-color: white;
  padding: 0.35rem 0.75rem;
}

/* ec442c 
f06a6a
f36205

*/