.aboutAuthor {
  margin-right: 2rem;
}
.aboutAuthor a {
  color: inherit;
  text-decoration: inherit;
}
.aboutAuthor .tweetTitleAuthor {
  font-size: 1rem;
}

.aboutAuthor .tweetTitleDetails {
  color: #6e767d;
}
