.banner img {
  width: 100%;
  height: auto;
}

.userInfoSection {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.userInfoSection .userAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userAction .avatarContainer {
  display: flex;
}

.avatarContainer a {
  position: absolute;
  top: -90px;
}

.avatarContainer div {
 flex: 0 0 180px;
}

.userAction .userActionButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
