.tweetAction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.message:hover {
  background-color: red;
}

.repost:hover {
  background-color: blue;
}
.like:hover {
  background-color: orange;
}
.share:hover {
  background-color: pink;
}
