.userHighlight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userHighlight .aboutAuthor {
  margin-right: 2rem;
}
.userHighlight .aboutAuthor a {
  color: inherit;
  text-decoration: inherit;
}
.userHighlight .userDesc {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.userHighlight .tweetTitleAuthor {
  font-size: 1rem;
}

.userHighlight .tweetTitleDetails {
  color: #6e767d;
}
