.searchBar {
  width: 100%;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  display: flex;
  flex-wrap: nowrap;
  color: #6e767d;
  background-color: #202327;
  gap: 1rem;
}
.searchBar input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  outline: none;
  color: #ffffff;
  resize: none;
}
.searchBar svg {
  background-color: transparent;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
}
