.sidebar {
  position: relative;
  flex: 0 0 310px;
  display: flex;
  justify-content: center;
}
.sidebar .container {
  display: flex;
  position: fixed;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 0 ;
}
