.sidebar {
  position: relative;
}
.sidebar .container {
  display: flex;
  position: sticky;
  height: 100vh;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2rem 0.5rem;
}
