.tweet-avatar {
  /* height: 70px;
  width: 70px; */
  flex: 0 0 70px;
  position: relative;
  display: flex;
}

.tweet-avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}
.avatar {
  flex: 0 0 70px;
  /*padding: 0 rem;*/
  position: relative;
  display: flex;
}

.avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}
