.tweetActions {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 5rem;
}

button {
  color: grey;
  font-size: 1rem;
}

.tweetActions svg {
  width: 1.5rem;
  height: auto;
  color: #2f3336;
}
